body {
    font-family: "Poppins", sans-serif;
    margin: 10px 25px;
    padding: 2rem;
    background: linear-gradient(to bottom, #6475cb 0%, #ffffff 50%);
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cadastro{
    display: flex;
    flex-direction: column;
    height: 37rem;
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: #ffffffc7;
    border-radius: 35px;

}
.cadastro form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cadastro input{
    margin: 1.7rem;
    height: 3rem;
    width: 44%;
    border: none;
    outline: none;
    background-color: #ffffff60;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
}

#botao-cadastrar{
    margin: 20px;
    height: 3rem;
    width: 38%;
    padding: 10px;

    border: none;
    border-radius: 25px;

    cursor: pointer;

    text-align: center;
    font-weight: bold;
    font-size: large;

    background-color: #6bc9ff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#botao-ir-pro-login{
    color: #6475cb;
    background-color: #ffffff00;
    border: none;
    font-size: medium;
}
/* login */

.logar{
    display: none;
    flex-direction: column;
    height: 37rem;
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: #ffffffc7;
    border-radius: 35px;

}
.logar form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logar input{
    margin: 1.7rem;
    height: 3rem;
    width: 44%;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #ffffff60;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}


#botao-logar{
    margin: 20px;
    height: 3rem;
    width: 38%;
    padding: 10px;

    border: none;
    border-radius: 25px;

    cursor: pointer;

    text-align: center;
    font-weight: bold;
    font-size: large;

    background-color: #6bc9ff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
#botao-ir-pro-registro{
    color: #6475cb;
    background-color: #ffffff00;
    border: none;
    font-size: medium;
    margin-bottom: 20px;
}
